# Git
.git/
.gitignore
.gitattributes

# Documentation
README.md
*.md
!init/*.sql

# Env files (keep .env.exemple)
.env
.env.local
.env.*.local

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Temporary
*.tmp
*.bak
